<!doctype html>
<html>
<head>
	<title>Haiku</title>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="margin:auto;width:800px;position: relative;">
		<img style="width: 800px;" src="static/{{image}}">
		<div style="position: absolute; top:150px; left:200px; font-size:48px; color:black;text-align:center;text-weight:bold;text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white; font-family:'Permanent Marker'">
			This is a test haiku<br>This is a test haiku<br>This is a test
		</div>
	</div>
</body>
</html>
