<!doctype html>
<html>
<head>
	<title>Haiku</title>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body style="background:url({{image}});background-size:cover;">
		<div style="margin:auto;width:100%;padding-top:15%; font-size:64px; color:black;text-align:center;text-weight:bold;text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white; font-family:'Permanent Marker'">
		{{line1}}<br>{{line2}}<br>{{line3}}
	</div>
</body>
</html>
